Repository ThePrimeagen/ts-rust-zig-deez, changes with the owners that CODEOWNERS names for each.
All owners: @ThePrimeagen, @novusnota, @vgel, @zivlakmilos, @boreddad, @nicdgonzalez, @devnote-dev, @MarioGK, @shreyassanthu77, @ryanwinchester, @mikimaine, @greuben92, @meenzen, @alexjercan, @xNaCly, @Crain-32, @tjdevries, @jon-lipstate, @wartab, @BatikanHyt, @bhansconnect

feat(lexer): ready
  haskell/Dockerfile
  haskell/README.md
  haskell/src/Lexer/Basic.hs
  haskell/src/Lexer/Parsec.hs
  haskell/src/Lexer/State.hs
Owners: @alexjercan

removing final from local variables and simplifying skipWhitespace
  java/Lexer.java
Owners: @xNaCly, @Crain-32

Adding an early return in the case the token is a simple one char token.
  java/Lexer.java
Owners: @xNaCly, @Crain-32

Eval till Infix Expressions
  .DS_Store
  R5RS/src/ast.rkt
  R5RS/src/eval.rkt
  R5RS/src/object.rkt
  R5RS/src/repl.rkt
  R5RS/tests/eval_test.rkt
Owners: @ThePrimeagen

feat: initial setup
  typescript-types/.gitignore
  typescript-types/Makefile
  typescript-types/__tests__/lexer.ts
  typescript-types/package-lock.json
  typescript-types/package.json
Owners: @ThePrimeagen

setup initial layout
  typescript-types/__tests__/lexer.ts
  typescript-types/src/lexer.ts
Owners: @ThePrimeagen

update kotlin gradle config
  kotlin2/build.gradle.kts
  kotlin2/test/LexerTest.kt
Owners: @ThePrimeagen

simple next token
  typescript-types/__tests__/lexer.ts
  typescript-types/src/lexer.ts
Owners: @ThePrimeagen

Do not hide pointers in typedef
  c/src/lexer/lexer.c
  c/src/lexer/lexer.h
  c/tests/lexer_test.cpp
Owners: @zivlakmilos

Changed csharp to use more lang features
  csharp/Monkey/Dockerfile
  csharp/Monkey/Lexer.cs
  csharp/Monkey/Monkey.csproj
  csharp/Monkey/Program.cs
  csharp/Monkey/Token.cs
  csharp/MonkeyLang.sln
  csharp/MonkeyTests/LexerTests.cs
  csharp/MonkeyTests/MonkeyTests.csproj
  csharp/MonkeyTests/Usings.cs
  csharp/MonkeyTests/VerifyInit.cs
  csharp/MonkeyTests/_snapshots/.gitignore
  csharp/MonkeyTests/_snapshots/LexerTests.ParseTokens_ShouldParseAnExampleProgram.verified.txt
  csharp/MonkeyTests/_snapshots/LexerTests.ParseTokens_ShouldParseDigitsEndingWithLettersAsNumbersAndIdentifiers.verified.txt
  csharp/MonkeyTests/_snapshots/LexerTests.ParseTokens_ShouldParseDigitsStartingWithLetterAsIdentifier.verified.txt
  csharp/MonkeyTests/_snapshots/LexerTests.ParseTokens_ShouldParseSimpleCharacters.verified.txt
  csharp/lexer.tests/LexerTest.cs
  csharp/lexer.tests/Usings.cs
  csharp/lexer.tests/lexer.tests.csproj
  csharp/lexer/Lexer.cs
  csharp/lexer/Program.cs
  csharp/lexer/Tokens.cs
  csharp/lexer/runDocker.sh
  csharp/run.ps1
  csharp/run.sh
Owners: @MarioGK

CODEOWNERS:

# Global code owner
*                 @ThePrimeagen

# DevOps
/.github/         @novusnota

# Language maintainers
/bash/            @vgel
/c/               @zivlakmilos
/c-boreddad/      @boreddad
/cpp/             @nicdgonzalez
/crystal/         @devnote-dev
/csharp/          @MarioGK
/dart/            @shreyassanthu77
# TODO: Consider uniting those two:
/elixir-shyryan/  @ryanwinchester
/elixir/          @ryanwinchester
/erlang/          @mikimaine
/fortran/         @greuben92
/fsharp/          @meenzen
/haskell/         @alexjercan
/java/            @xNaCly @Crain-32
/ocaml/           @tjdevries
/odin/            @jon-lipstate
/php/             @wartab
/python/          @BatikanHyt
/roc/             @bhansconnect
/rust/            @ThePrimeagen
/typescript/      @ThePrimeagen
/zig/             @ThePrimeagen

# TODO: Add people selected from stream on May 30th
